<div class="row" style="margin-bottom: 5px;">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your Property</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)='onSubmit()' [formGroup]="addPropertyForm">

          <div class="tab-panel">
            <tabset class="member-tabset" #formTabs>
              <tab heading="Basic Info" formGroupName="BasicInfo">

                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellRent">
                    <label class="btn btn-outline-primary" style="margin-right: 10px;" btnRadio=1 tabindex="0"
                      role="button" name="SellRent">Sell</label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button"
                      name="SellRent">Rent</label>
                  </div>
                  <div class="error-block" *ngIf="SellRent.invalid && NextClicked">
                    Please select sell or rent.
                  </div>
                </div>

                <div class="form-group col-12" style="margin-top: 10px;">
                  <p>Bedroom</p>
                  <div class="btn-group" btnRadioGroup formControlName="Bedroom">
                    <label *ngFor="let Bedroom of [1,2,3,4]" class="btn btn-outline-primary mr-2"
                      style="margin-right: 10px;" [btnRadio]="Bedroom" tabindex="0" role="button"
                      (click)="propertyView.bhk = Bedroom"
                      name="Bedroom">{{Bedroom}}</label>
                  </div>
                  <div class="error-block" *ngIf="Bedroom.invalid && NextClicked">
                    Please select bedroom.
                  </div>
                </div>

                <div class="form-group col-12" style="margin-top: 10px;">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType">
                    <label *ngFor="let ptype of propertyTypes" class="btn btn-outline-primary mr-2"
                      style="margin-right: 10px;" [btnRadio]="ptype.id" tabindex="0" role="button"
                      (click)="propertyView.propertyType = ptype.name"
                      name="ptype">{{ptype.name}}</label>
                  </div>
                  <div class="error-block" *ngIf="PType.invalid && NextClicked">
                    Please select property type
                  </div>
                </div>

                <div class="form-group col-12" style="margin-top: 10px;">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="FType">
                    <label *ngFor="let ftype of furnishTypes" class="btn btn-outline-primary mr-2"
                      style="margin-right: 10px;" [btnRadio]="ftype.id" tabindex="0" role="button"
                      (click)="propertyView.furnishingType = ftype.name"
                      name="Bedroom">{{ftype.name}}</label>
                  </div>
                  <div class="error-block" *ngIf="FType.invalid && NextClicked">
                    Please select furnishing type
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>in Building/Society/Project</label>
                  <input type="text" class="form-control" #propName
                  (keyup)="propertyView.name = propName.value" formControlName="Name">
                  <div class="error-block" *ngIf="Name.invalid && (NextClicked || Name.touched)">
                    Please provide building, society or project name
                  </div>
                </div>

                <div class="form-group col-12">
                  <label for="city">City</label>
                  <select #Citys
                  (change)="propertyView.city = Citys.options[Citys.options.selectedIndex].text"
                  class="form-control" formControlName="City"
                    style="margin-top: 10px;">
                    <option value="">--Select City--</option>
                    <option *ngFor="let city of cityList" value="{{city.id}}">{{city.name}}</option>
                  </select>
                  <div class="error-block" *ngIf="City.invalid && (NextClicked || City.touched)">
                    Please select city
                  </div>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(1, BasicInfo.valid)">Next</button>
                </div>
              </tab>

              <tab heading="Pricing and Area" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label *ngIf="SellRent.value==1">Price (in CAD)</label>
                  <label *ngIf="SellRent.value==2">Rent (in CAD)</label>
                  <input type="text" class="form-control" formControlName="Price" #prices
                  (keyup)="propertyView.price = Price.value">
                  <div class="error-block" *ngIf="Price.invalid && (NextClicked || Price.touched)">
                    Please enter
                    <span *ngIf="SellRent.value==1;else ShowRent">price</span>
                    <ng-template #ShowRent>rent</ng-template>
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Security (in CAD)</label>
                  <input type="text" class="form-control" name="Security">
                </div>

                <div class="form-group col-12">
                  <label>Maintenance (in CAD)</label>
                  <input type="text" class="form-control" name="Maintenance">
                </div>

                <div class="form-group col-12">
                  <label>Built Area (in Sqr Feet)</label>
                  <input type="text" class="form-control" #builtArea
                  (keyup)="propertyView.builtArea = BuiltArea.value"
                    formControlName="BuiltArea">
                  <div class="error-block" *ngIf="BuiltArea.invalid && NextClicked">
                    Please enter built up area
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Carpet Area(in Sqr Feet)</label>
                  <input type="text" class="form-control" name="CarpetArea">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(2, PriceInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(0, PriceInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Address" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label>Floor</label>
                  <input type="text" class="form-control" formControlName="FloorNo">
                </div>

                <div class="form-group col-12">
                  <label>Total Floor</label>
                  <input type="text" class="form-control" formControlName="TotalFloor">
                </div>

                <div class="form-group col-12">
                  <label>Address</label>
                  <input type="text" class="form-control" formControlName="Address">
                  <div class="error-block" *ngIf="Address.invalid && (NextClicked || Address.touched)">
                    Please select address
                  </div>
                </div>

                <div class="form-group col-12">
                  <label>Landmark</label>
                  <input type="text" class="form-control" formControlName="Landmark">
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(3, AddressInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(1 , AddressInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Other Details" formGroupName="OtherInfo">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="RTM">
                    <label class="btn btn-outline-primary mr-2" btnRadio=1 tabindex="0" role="button"
                    (click)="propertyView.readyToMove=1" name="RTM">Yes
                    </label>
                    <label class="btn btn-outline-primary" btnRadio=2 tabindex="0" role="button"
                    (click)="propertyView.readyToMove=0" name="RTM">No
                    </label>
                  </div>
                  <div class="error-block" *ngIf="RTM.invalid && NextClicked">
                    Please select ready to move
                  </div>
                </div>

                <div class="form-group col-6">
                  <label *ngIf="propertyView.readyToMove">Establishment Date</label>
                  <label *ngIf="!propertyView.readyToMove">Possession Date</label>
                  <input type="text" class="form-control" formControlName="PossessionOn" #PossessionOns
                   (bsValueChange)="propertyView.estPossessionOn = PossessionOns.value"  bsDatepicker [bsConfig]="{containerClass: 'theme-dark-blue',
                  dateInputFormat: 'MMM DD, YYYY'}">
                </div>

                <div class="form-group col-12">
                  <label>Description</label>
                  <textarea type="text" class="form-control" name="Description" rows="6"></textarea>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(4, OtherInfo.valid)">Next</button>
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(2, OtherInfo.valid)">Back</button>
                </div>
              </tab>

              <tab heading="Photos">

                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="mt-5" type="button">Upload</button> <br>
                    This is under construction
                  </div>
                </div>

                <div class="form-group col-12">
                  <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 800px;"
                    (click)="selectTab(3, true)">Back</button>
                  <button type="reset" class="btn btn-primary" style="margin-top: 20px; width: 800px;">Cancle</button>
                  <button type="submit" class="btn btn-primary" style="margin-top: 20px; width: 800px;">Save</button>
                </div>
              </tab>
            </tabset>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="card-header">
      <h3>Your Property Review</h3>
    </div>

    <div class="shadow-lg p-3 bg-white">
      <app-property-card [property]="propertyView" [hideIcons]="true"></app-property-card>
    </div>
  </div>
</div>
